{% extends 'layout.html' %}
{% block contenido %}
<section class="hero">
    <div class="overlay"></div>
    <div class="contenidoHero">
        <h1>KION HATS</h1>
        <p>
            Bajo la sombra de tu propia identidad.
        </p>
        <a href="/catalogo" class="boton">
            EXPLORAR CATÁLOGO
        </a>
    </div>
</section>
<section class="marcas">
    <div class="contenedorMarcas">
    <span class="marca">BARBAS HATS</span>
    <span class="marca">NIKE</span>
    <span class="marca">NEW ERA</span>
    <span class="marca">DANDY HATS</span>
    <span class="marca">ADIDAS</span>
</div>
{% endblock %}